<!-- <button (click)="onClickButton()">add user</button> -->

<!-- this is from child to child component  -->
<!-- <input #newUser
    (keyup.enter)="addUser(newUser.value)"
    (blur)="addUser(newUser.value); newUser.value='' ">

    <button (click)="addUser(newUser.value)">Add</button>
    <button (click)="removeUser()">Remove</button>

    <ul>
          <li *ngFor="let user of users">{{user}}</li>
    </ul> -->
    <!-- end of code -->
<div>
    <p>editusers works!</p>
    <input #newItem type="text" id="item-input">
    <button (click)="addNewItem(newItem.value)">add</button>
</div>

