
        <img id="icon2" src="../../assets/ice-cream-2.png" alt="">
        <h1>Editusers</h1>
                <h3>Add your favorite sweets..</h3>
        <!-- <input #newUser type="text" id="user-input"> -->
                <input type="text" [(ngModel)]="userinput">
        <!-- <button (click)="addNewUser(newUser.value)">add</button> -->
        <div id="btn-box">
                <button id="addbtn" (click)="addNewUser()">Add Sweets</button>
                <button id="removebtn" (click)="removeUser()">Remove Sweets</button>
        </div>