<div id="donutbox">
    <!-- <img id="donut" src="../../assets/imgbin_donut-png.png" alt="donut"> -->
    <img id="donut2" src="../../assets/PngItem_2126920.png" alt="donut">
    <img id="donut3" src="../../assets/Donuts-PNG-Royalty-Free.png" alt="donut">
</div>

    <img id="icon" src="../../assets/ice-cream-2.png" alt=""> 
        <h1>Userlist</h1>
            <ul>
                <li *ngFor="let user of users">
                    <app-userlistitem [user]="user"></app-userlistitem></li>
            </ul>


