:host {
    background-color:#ffb9d6;
    height:  400px;
    width: 400px;
    float: right;
    border-radius: 10px;
    margin-bottom: 100px; 
    overflow:auto;
    margin-top: -100px;
}

#donutbox{
   position: absolute;
   width: 500px;
   height: 400px;
}

#donut {
    width: 45%;
    z-index: 2;
    position: absolute;
    right: 370px;
    top: -60px;
}

#donut2 {
    z-index: 1;
    width: 40%;
    position: absolute;
    left: 350px;
    top: 150px;
}

#donut3 {
    z-index:0;
    width: 45%;
    position: absolute;
    left: 240px;
    top: 250px;
}

#icon {
    display: block;
    margin: 0 auto; 
    padding-top: 40px;
    padding-bottom: 0;
    margin-bottom: 0;
    width: 45px;
}

ul {
    font-family: 'Urbanist', sans-serif;
    list-style-type: none;
    text-align: center;
    padding: 0;
    color: white;
}

h1 {
    margin-top:0;
    text-align: center;
    color: rgb(255, 61, 174);;
    font-size: 3rem;
    margin-bottom: 0;
}