p {
  text-transform: uppercase;
  margin: 5px;
  font-size: 0.9em;
  text-align: center;
}

div {
  text-align: center;
  font-family: 'Mukta', sans-serif;
}

.pinkClass { 
  color: rgb(255, 92, 201) ;
}

.whiteClass { 
  color: white ;
}