* {
    font-family: 'Kaisei Tokumin', serif;
}

div {
    background-color: rgb(255, 249, 231);
    border-radius: 2px;
    width: 300px;
    height: 300px;
    float: right;
}

li {   
        text-transform: uppercase;
        margin: 0;
        padding: 36px 0 36px 84px;
        list-style: none;
        /* background-image: url(https://www.pngkey.com/png/full/31-310324_polar-bear-png-three-walking-animals.png); */
        background-repeat: no-repeat;
        background-position: left center;
        background-size: 40px;
}
